<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%date [%thread] %-5level %logger - %msg%n</Pattern>
		</encoder>
	</appender>

	<logger name="java" level="INFO" />
	<logger name="javax" level="INFO" />
	<logger name="sun.awt" level="INFO" />
	<logger name="org.springframework" level="INFO" />
	<logger name="org.apache.cxf" level="INFO" />
	<logger name="org.eclipse.jetty" level="INFO" />
	<logger name="org.springframework.web" level="DEBUG" />
	<logger name="org.springframework.web.socket" level="TRACE" />

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
